@model Inuplan.Intranet.ViewModels.BaseViewModel<string>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("beta intranet", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Forside", "Index", "Home")</li>
                <li>@Html.ActionLink("Brugere", "Index", "User")</li>
            </ul>
            <p class="nav navbar-text navbar-right">Hej, @Model.DisplayName!</p>
        </div>
    </div>
</div>