@section head {
<environment names="Development">
    <script src="~/js/stringPolyfill.js" type="text/javascript"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/loader.css" />
</environment>
<environment names="Staging,Production">
    <script src="~/js/stringPolyfill.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/loader.min.css" />
</environment>
}
@* Javascript global variables *@
@section before {
<environment names="Development">
    <script type="text/javascript">
        var globals = {
            urls: {
                users: 'http://localhost:9000/api/user',
                images: 'http://localhost:9000/api/userimage',
                imagecomments: 'http://localhost:9000/api/imagecomment',
                whatsnew: 'http://localhost:9000/api/whatsnew',
                forumtitle: 'http://localhost:9000/api/forumtitle',
                forumpost: 'http://localhost:9000/api/forumpost',
                forumcomments: 'http://localhost:9000/api/forumcomment',
                diagnostics: 'http://localhost:9000/api/diagnostic',
                employeeHandbook: 'http://www.google.com',
                c5Search: 'http://www.google.dk',
                websocket: {
                    latest: 'ws://localhost:9000/latest',
                },
                intranetside: 'http://www.reddit.com/',
            },
            currentUsername: '@ViewBag.Username'
        };
    </script>
</environment>
<environment names="Staging,Production">
    <script type="text/javascript">
        var globals = {
            urls: {
                users: 'http://intranet:9000/api/user',
                images: 'http://intranet:9000/api/userimage',
                imagecomments: 'http://intranet:9000/api/imagecomment',
                whatsnew: 'http://intranet:9000/api/whatsnew',
                forumtitle: 'http://intranet:9000/api/forumtitle',
                forumpost: 'http://intranet:9000/api/forumpost',
                forumcomments: 'http://intranet:9000/api/forumcomment',
                diagnostics: 'http://intranet:9000/api/diagnostic',
                employeeHandbook: 'http://intranetside/Medarbejderhåndbog',
                c5Search: 'http://intranetc5/Home/Search',
                websocket: {
                    latest: 'ws://intranet:9000/latest',
                },
                intranetside: 'http://intranetside/',
            },
            currentUsername: '@ViewBag.Username'
        };
    </script>
</environment>
}
@* React content anchor *@
<div id="content"></div>
@* React libraries and application *@
@section after {
<environment names="Staging,Production">
    <script src="~/lib/moment/min/moment.min.js" asp-append-version="true"></script>
    <script src="~/lib/moment/locale/da.js" asp-append-version="true"></script>
    <script src="~/lib/lib.min.js"></script>
    <script src="~/js/app.min.js"></script>
</environment>
<environment names="Development">
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/moment/locale/da.js"></script>
    <script src="~/lib/lib.js"></script>
    <script src="~/js/app.js"></script>
</environment>
}