@model Inuplan.Intranet.ViewModels.BaseViewModel<Inuplan.Common.Models.User>
@{ 
    var FullName = string.Format("{0} {1}", Model.Entity.FirstName, Model.Entity.LastName);
    ViewBag.Title = string.Format("{0} Billeder", FullName);
}

<h2>@FullName - Alle Billeder</h2>

<!-- ko with: vm -->
<div class="row">
    <div class="col-lg-12">
        <div class="checkbox">
            <label>
                <input type="checkbox" data-bind="checked: with_comments" /> 
                Vis kommentarer?
            </label>
        </div>
    </div>
</div>
<div class="row" data-bind="foreach: images" id="images">
    <div class="col-lg-2 col-sm-3 col-xs-12" data-bind="attr: { id: image_id }">
        <a data-bind="click: function(){ show_modal(true) }">
            <img class="thumbnail img-responsive" data-bind="attr: { src: thumbnail_url }" />
        </a>
        <div data-bind="if: with_comments">
            <span class="label label-primary">Antal kommentar: <span data-bind="text: number_of_comments"></span></span>
        </div>
    </div>
    <div data-bind="template: { name: 'view-image', data: $data }" ></div>
</div>
<!-- /ko -->

@section scripts 
{
    @Scripts.Render("~/bundles/knockout")
    <script src="~/Scripts/UserImages.js">
    </script>
    <script>
        $(function () {
            var app = new appViewModel('@ViewBag.API', '@Model.Entity.Username');
            ko.applyBindings(app);

        });
    </script>
    @if (Model.IsEditable)
    {
        <script type="text/html" id="delete-image">
            <!-- TODO: Create a template for deleting images -->
            <button type="button" class="btn btn-danger" data-bind="click: delete_image">Slet billede</button>
        </script>
    }
    <script type="text/html" id="view-image">
        <!-- Modal -->
        <div class="modal fade" role="dialog" data-bind="modal: show_modal ,attr: { id: modal_id }">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-center">Filnavn: <span data-bind="text: fullname"></span></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <a data-bind="attr: {href: original_url, target: '_blank'}">
                                    <img class="img-responsive center-block img-rounded" data-bind="attr: {src: preview_url }" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row" data-bind="if: with_comments">
                            <div class="col-lg-12 text-left">
                                <h5><strong>Kommentarer</strong></h5>
                            </div>
                        </div>
                        @if (Model.IsEditable)
                        {
                            <div data-bind="template: { name: 'delete-image', data: $data }" />
                        }
                        <button type="button" class="btn btn-default" data-dismiss="modal">Luk</button>
                    </div>
                </div>

            </div>
        </div>
    </script>
}