@model Inuplan.Common.Models.User

<h2>@Model.FirstName - Billeder</h2>
<!-- TODO: Create ajax page by utilizing the proxy-api -->

<div class="row" data-bind="foreach: images, visible: images().length > 0">
    <!-- Template -->
    <div class="col-lg-3 col-sm-4 col-xs-6">
        <a href="#" class="thumbnail">
            <img class="img-responsive" data-bind="attr: { src: PathThumbnailUrl }">
        </a>
    </div>
</div>

<!-- 
<div class="row">
    <div class="col-lg-3 col-sm-4 col-xs-6">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/350x150" class="img-responsive">
        </a>
    </div>
    <div class="col-lg-3 col-sm-4 col-xs-6">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/350x150" class="img-responsive">
        </a>
    </div>
    <div class="col-lg-3 col-sm-4 col-xs-6">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/350x150" class="img-responsive">
        </a>
    </div>
    <div class="col-lg-3 col-sm-4 col-xs-6">
        <a href="#" class="thumbnail pull-left">
            <img src="http://placehold.it/350x150" class="img-responsive">
        </a>
    </div>
    <div class="col-lg-3 col-sm-4 col-xs-6">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/350x150" class="img-responsive">
        </a>
    </div>
    <div class="col-lg-3 col-sm-4 col-xs-6">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/350x150" class="img-responsive">
        </a>
    </div>
    <div class="col-lg-3 col-sm-4 col-xs-6">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/350x150" class="img-responsive">
        </a>
    </div>
    <div class="col-lg-3 col-sm-4 col-xs-6">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/350x150" class="img-responsive">
        </a>
    </div>
    <div class="col-lg-3 col-sm-4 col-xs-6">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/350x150" class="img-responsive">
        </a>
    </div>
    <div class="col-lg-3 col-sm-4 col-xs-6">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/350x150" class="img-responsive">
        </a>
    </div>
    <div class="col-lg-3 col-sm-4 col-xs-6">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/350x150" class="img-responsive">
        </a>
    </div>
    <div class="col-lg-3 col-sm-4 col-xs-6">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/350x150" class="img-responsive">
        </a>
    </div>
</div>
-->

@section styles
{
    @Styles.Render("~/Content/userimage")
}

@section scripts 
{
    @Scripts.Render("~/bundles/knockout")
    <script src="~/Scripts/UserImages.js">
    </script>
    <script>
        $(function () {
            var vm = new UserImagesViewModel('@Model.Username');
            ko.applyBindings(vm);
        })
    </script>
}