@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-12">
        <p>
            <div id="content"></div>
        </p>
    </div>
</div>

@section scripts
{
<script src="~/lib/react/react.js"></script>
<script src="~/lib/react/react-dom.js"></script>
<environment names="Development">
    <script src="~/lib/marked/lib/marked.js"></script>
    <script asp-src-include="~/js/components/**/*.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/lib/marked/marked.min.js"></script>
    <script src="~/js/components.min.js" asp-append-version="true"></script>
</environment>
<script>
    ReactDOM.render(
        React.createElement(ImageBox, {
            username: '@ViewBag.Username',
            imagesUrl: 'http://localhost:9000/api/userimage/getall',
            commentsUrl: 'http://localhost:9000/api/imagecomment'
        }),
        document.getElementById('content')
    );
</script>
}
